.lessons-table {
  border-collapse: separate !important;
  border-spacing: 0 10px !important;
}

.lessons-table thead tr th {
  background: linear-gradient(135deg, #5b7dff, #714bff);
  padding: 14px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  border: none !important;
}

.lessons-table thead tr th:first-child {
  border-top-left-radius: 14px;
}
.lessons-table thead tr th:last-child {
  border-top-right-radius: 14px;
}

.lessons-table tbody tr {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.07);
  transition: 0.25s ease;
}

.lessons-table tbody tr:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 26px rgba(0, 0, 0, 0.12);
}

.lessons-table tbody td {
  padding: 16px;
  font-size: 14px;
  color: #424a69;
}

.lessons-table tbody tr td:first-child {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.lessons-table tbody tr td:last-child {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.btn-remove {
  text-align: center;
}
