<div class="students-header">
  <h6>Şagirdlər</h6>
  <div class="buttons-wrapper">
    <button class="btn-create-student" (click)="openCreate()">
      <i class="fa fa-plus"></i> Yeni Şagird
    </button>
    <button class="btn-create-student btn-create-student-blue" (click)="openStudentsList()">
      <i class="fa fa-plus"></i> Şagird siyahısı ({{ (savedStudents$ | async)?.length }})
    </button>
  </div>
</div>

<app-table [columns]="studentColumns" [rows$]="currentStudents$" (action)="handleAction($event)">
</app-table>

<app-student-create-modal [visible]="showModal" [currentStudents]="(currentStudents$ | async) ?? []"
  [savedStudents]="(savedStudents$ | async) ?? []" (closed)="showModal = false" (created)="onCreated($event)">
</app-student-create-modal>

<app-delete-modal [visible]="deleteModalVisible" (confirmed)="confirmDelete()" (closed)="closeDeleteModal()">
</app-delete-modal>

<app-students-list-modal [visible]="showStudentListModal" [currentStudents]="(currentStudents$ | async) ?? []"
  [savedStudents]="(savedStudents$ | async) ?? []" (closed)="showStudentListModal = false"></app-students-list-modal>