<div class="students-header">
  <h6>Şagirdlər</h6>
  <div class="buttons-wrapper">
    <button class="btn-create-student" (click)="openCreate()">
      <i class="fa fa-plus"></i> Yeni Şagird
    </button>
    <button class="btn-create-student btn-create-student-blue" (click)="openStudentsList()">
      <i class="fa fa-plus"></i> Şagird siyahısı ({{ (savedStudents$ | async)?.length }})
    </button>
  </div>
</div>

<app-table [columns]="studentColumns" [rows$]="currentStudents$" (action)="handleAction($event)">
</app-table>

<ng-template #modalContainer></ng-template>