<div class="lessons-header">
  <h6>Dərslər</h6>
  <div class="buttons-wrapper">
    <button class="btn-create-lesson btn-create-lesson-purple" (click)="openCreateModal()">
      <i class="fa fa-plus"></i> Yeni dərs
    </button>
    <button class="btn-create-lesson btn-create-lesson-blue" (click)="openLessonsList()">
      <i class="fa fa-plus"></i> Dərs siyahısı ({{ (savedLessons$ | async)?.length }})
    </button>
  </div>
</div>

<app-table [columns]="lessonColumns" [rows$]="currentLessons$" (action)="handleAction($event)">
</app-table>

<ng-template #modalContainer></ng-template>